/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-purple: #4b145b;
  --clr-red-special: #b4345c;
  --clr-grey-special: #eae6eb;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 920px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: var();
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

/*
=============== 
Questions
===============
*/

.topDiv{
  display: flex;
  flex-direction: row;
}
main {
  min-height: 100vh;
  background: pink;
  /* using flex because of better browser support */
  display: flex;
  justify-content: center;
  align-items: center;
}
.right {
  margin-left: 400px;
}
.chat-container {
  display: flex;
  flex-direction: column;
  width : 800px;
  max-height: 80vh;
  overflow: scroll;
}
.chatLeftContainer{
  display: flex;
  flex-direction: row;
}
.user {
  width: 70px;
  height: 47px;
  background: grey;
  text-align: center;
  margin-top: 13px;
  border-radius: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}
.chat-left {
  /*justify-content: flex-start;*/
  max-width: 730px;
  border-radius: 24px;
  padding: 20px;
  border: 4px solid white;
  background: #87CEEB;
}
.chat-right {
  max-width: 730px;
  border-radius: 24px;
  padding: 20px;
  border: 4px solid white;
  background: #90ee90;
}
.scrollPoint {
  margin-top: 200px;
  width: 20px;
  height: 150px;
  z-index: 200;
  margin-left: 332px;
}
.parentDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  height : 47vh;
}
.commonfaqs{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 185px;
}
.faqs1 {
  display: flex;
  flex-direction: column;
}
.faqs2 {
  display: flex;
  flex-direction: column;
}
.faq{
  width : 250px;
  height: 50px;
  padding: 20px;
  margin-left: 60px;
  margin-top: 10px;
  background: #d3d3d3;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
  cursor: pointer;
}
.flexRow{
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 35px;
}
.flexRowContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  margin-left: -54px;
}
input {
  width : 700px;
  height : 50px;
  font-size: 20px;
}
button {
  height : 50px;
  background-color : #87CEEB;
  text-align: center;
  font-size: 20px;
  cursor:pointer;
  margin-left: -100px;
}
button :: hover {
  cursor : pointer
}
.menuButton {
  top: 10;
  left : 10;
  width : 50px;
  height : 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  cursor: pointer;
}
.iconImg{
  height : 30px;
  width : 30px;
}
.newChatButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 150px;
  background: #D3D3D3;
  margin-top: 50px;
  border-radius: 4px;
  cursor: pointer;
}
.chatBox {
  display: flex;
  flex-direction: column;
  /*width: calc(100% - 200px);*/
  width: 100%;
  transition: 0.2s cubic-bezier(.36,-0.01,0,.77);
}
.chatBox2 {
  /*display: flex;
  flex-direction: column;*/
  width: calc(100% - 200px);
}
.hamburger {
  height : 100vh;
  width : 200px;
  background: grey;
  margin-left: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.2s cubic-bezier(.36,-0.01,0,.77);
 /*transition: 0.2s;*/
}
.hamburger2 {
  margin-left: -200px;
}
.chatsListItem {
  width: 150px;
  height: 30px;
  background: #D3D3D3;
  margin-top:10px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box{
  margin-top: 202px;
  max-height: 69vh;
}
